body {
    background-color: rgb(214, 231, 236);
}

h3 {
    text-align: center;
    font-style: oblique;
}

.imgfinal {
    text-align: center;
}

.neymarpagode {
    font-style: arial;
}

p {
    color: rgb(209, 201, 201);
}